.FooterContainer {
  background-image: url("https://res.cloudinary.com/ddpvmfuot/image/upload/v1574840533/Footer_image.jpg");
  height: 725px;
  width: 100%;
  font-family: Raleway;

  .header {
    position: absolute;
    color: white;
    font-size: 49px;
    left: 509px;
    margin-top: 55px;
  }

  #logo {
    display: flex;
    flex-direction: row;

    .footer-text {
      font-weight: 800;
      margin: 5px 8px 0 8px;
    }
  }

  .extra-text{
    font-weight: 800;
    text-align: left;
    margin-left: 8px;
    position: absolute;
    margin-top: -60px;
  }

  .playstore {
    position: absolute;
    height: 51px;	
    width: 173px;
    margin-top: 270px;
    left: 520px;
  }

  .content {
    color: white;
    text-align: left;
    font-family: Raleway;
    .company {
      left: 207px;
      position: absolute;
      margin-top: 416px;
    }
    .contact {
      position: absolute;
      left: 459px;
      margin-top: 419px;
    }

    .shopping {
      position: absolute;
      left: 713px;
      margin-top: 417px;

       .car {
         height: 12.85px;	
         width: 25.47px;
         left: -40px;
         margin-top: -100px;
         margin-right: 7px;
       }
       .lock {
         height: 21px;
         width: 16px;
         margin-top: -70px;
         left: -30px;
         margin-right: 7px;

       }
       .arrow {
         position: absolute;
         color: white;
         height: 12.85px;	
         width: 25.47px;
         background-color:white;
         left: -30px;
         margin-top: -30px;
       }
    }

    .follow {
      position: absolute;
      margin-top: 417px;
      left: 1041px;
    }
  }
  .social {
    margin-right:7px;
  }

  .icons {
    position: absolute;
    margin-top: 650px;
    left: 600px;

    .mpesa {
      height: 24px;	
      width: 44px;
      margin-right: 19px;
    }
    .equitel {
      height: 19px;	
      width: 53px;
      margin-right: 19px;
    }
    .visa {
      height: 20px;	
      width: 53px;
      margin-right: 19px;
    }
    .mastercard {
      height: 22px;	
      width: 37px;
      margin-right: 19px;
    }
  }
  .copyright {
    color: white;
    position: absolute;
    margin-top: 650px;
    left: 210px;
    font-family: Raleway;
    font-weight: 600;
    font-size: 12px;
  }
  .policy {
    color: #56CC86;
    font-size: 12px;
    font-family: Raleway;
    font-weight: 600;
    position: absolute;
    left: 1040px;
    margin-top: 650px;

  }
}